:root{
    --primary: #d8d8d8;
    --secondary: #979797;
}


.row{
    display: flex;
}


.col-2{
   flex: 1;
    height: 100vh;
    border-right: solid 2px var(--secondary);
}
.col-10{
    flex: 11;
    overflow-y: scroll;
    height: 90vh;
}

.card{
    border: solid 2px var(--secondary);
    border-radius: 4px;
    padding: 1em;
    margin-top: 2em;
    min-width: calc(100%/5);
    margin-right: 2em;
}
.card-title{
    font-weight: 300;
    font-size: 1em;
}
.card-content{
    padding-left: 0.8em;
    font-weight: 400;
    font-size: 1em;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title{
    font-weight: 400;
    font-size: larger;
}

.table,
.chart{
    border: solid 2px var(--secondary);
    border-radius: 2px;
    padding: 1em;
    padding-bottom: 0px;
    height: 250px;
    width: 95%;
}

.table{
    padding-bottom: 1em;
    height: auto;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: var(--primary);
    border: solid 1px var(--secondary);
	display: block;
	border-radius: 60px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	left: 2px;
    top: 0.5px;
	width: 20px;
	height: 20px;
	background: var(--primary);
    border: solid 1px var(--secondary);
	border-radius: 20px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--primary);
    border: solid 1px var(--secondary);
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 20px;
}



.bar{
    width: 20px;
    border: solid 1px var(--secondary);
    height: 240px;
    align-self: flex-end;
}

.chart-lebal,
.chart{
    display: grid;
    align-content: end;
    width: fit-content;
    
}
.chart-lebal{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 30px;
    left: -0.5em;

}
.lebal{
    transform: rotate(-45deg);
    text-align: end;
    font-size: small;
    font-weight: 300;
}

.chart-7{
    grid-template-columns: repeat(7,100px);
    padding-left: 4em;
}

.chart-12-paddingl{
    padding-left: 2.5em;
}

.chart-12{
    grid-template-columns: repeat(12,70px);
}


@media screen and (max-width: 850px) {
 
   .card{
    min-width: 90%;
    margin-right: 0px;
    }

    .chart-7{
        grid-template-columns: repeat(7,50px);
        padding-left: 4em;
    }
    
    .chart-12-paddingl{
        padding-left: 1em;
    }
    
    .chart-12{
        grid-template-columns: repeat(12,34px);
    }
}


@media screen and (max-width: 620px) {

    .table{
        width: 80%;
        overflow-x: hidden;
    }
     .chart-7{
         grid-template-columns: repeat(7,40px);
         padding-left: 1em;
     }
     
     .chart-12-paddingl{
         padding-left: 0em;
     }
     
     .chart-12{
         grid-template-columns: repeat(12,24px);
     }
 }