@media screen and (max-width: 600px) {
   .search{
    width: 60%;
    }
}


.table-head th{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1em;
}

.text-danger{
    color: #e91a3a;
}
.rotate{
   transform: rotate(180deg);
   margin-right: 0.5em;
}
.rotate-90{
    transform: rotate(90deg);
    margin-right: 0.2em;
 }
.text-success{
    color: #6dd400;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd9c;
  }