.search{
    width: 60%;
}
.text-danger{
    color: #e91a3a;
}
.rotate{
   transform: rotate(180deg);
   margin-right: 0.5em;
}
.rotate-90{
    transform: rotate(90deg);
    margin-right: 0.2em;
 }
.text-success{
    color: #6dd400;
}

.table{
    width: 97%;
    overflow-x: hidden;
}

@media screen and (max-width: 620px) {

    .table{
        width: 95%;
        overflow-x: hidden;
    }
    
    
 }

